<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhysiCalc</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>PhysiCalc</h1>
        <p>Free Online Physics Calculator</p>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calculators">Calculators</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
    <main>
        <section id="home">
            <div>
                <h2>Welcome to PhysiCalc</h2>
                <p>Here you can find various free kinematics calculators.</p>
            </div>
        </section>
        <section id="about">
            <div>
                <h2>About Us</h2>
                <p>Harper Hakes CS Major. Class of 2026</p>
            </div>
        </section>
        <section id="contact">
            <div>
                <h2>Contact Us</h2>
                <p>harperhakes@gmail.com</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 PhysiCalc. All rights reserved.</p>
    </footer>
</body>
</html>
